@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: #c9cdd4;
    outline: none;
    border-radius: 2px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
}
.bytemd-preview{
    @apply content-none
}